nav {
	background-color: rebeccapurple;
}

nav a {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.94px;
	text-align: center;
}

body{
	background-color: lightgoldenrodyellow;
}

#profilePicture{
	width: 300px;
	height: 300px;
}

#about {
	background-color: gray;
}

#tool-section{
	background-color: rebeccapurple;
}

.tools-section {
	background-color: rebeccapurple; 
	padding: 40px;
	text-align: center;
}

.tools-section h3 {
	color: #f8f9fa;
	margin-bottom: 30px;
}

.tools-section .category {
	margin-bottom: 20px;
}

.tools-section img {
	width: 50px;
	height: 50px;
	margin: 10px;
}

.contact-section {
	background-color: gray;
	padding: 40px;
}

.form-control {
	margin-bottom: 20px;
}

.btn-submit {
	width: 100%;
}

